<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>250</batches>
  <inactive>100</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>-31.0 -31.0 0.0 31.0 31.0 100.0</parameters>
    </space>
  </source>
</settings>
